body {
  padding-top: $navbar-height;
}

.navbar-fixed-top {
  .admin-bar & {
    top: 32px;

    @media screen and (max-width: 782px) {
      top: 46px;
    }
  }
}

.navbar-brand {
  font-size: 24px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.6);
  @media screen and (min-width: $screen-md-min) {
    font-size: 36px;
    margin-top: 4px;
    margin-bottom: -10px;

    .home &.headroom {
      transition: .1s opacity;
      &.headroom--top {
        opacity: 0;
      }

      &.headroom--not-top {
        opacity: 1;
      }
    }
  }
}
