<footer id="footer" class="site-footer">
  <div class="container">
    <nav>
      <ul class="list-inline">
        {% include 'menu.twig' with { 'menu': menu } %}
      </ul>
    </nav>
    <p class="copyright">{{strings.copyright}}</p>
  </div>
</footer>
