<header class="navbar navbar-default navbar-fixed-top" id="site-header">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">{{strings.toggleNav}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand jay" href="{{site.url}}">{{site.name}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <nav class="collapse navbar-collapse navbar-ex1-collapse navbar-right" role="navigation">
      {% if menu.get_items|length > 0 %}
      <ul class="nav navbar-nav">
        {% include "menu-navbar.twig" with {'menu': menu.get_items} %}
      </ul>
      {% endif %}
      {% if show_search_form %}{{ function('get_search_form') }}{% endif %}
    </nav><!-- /.navbar-collapse -->
  </div>
</header>
